<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/mdui.css" />
		<style type="text/css">
			body {
				width: 100%;
				min-height: 100%;
				background-image: url(../img/bg.png);
			}
			
			#app {
				/*text-align: center;*/
			}
			
			.regd {
				padding: 20px;
				margin-top: 35%;
			}
			
			.mdui-textfield-input {
				border-color: #fff;
				color: #fff
			}
			
			.mdui-btn {
				width: 80%;
				margin-left: 10%;
				height: 45px;
				line-height: 45px;
				font-size: 18px;
				margin-top: 50px;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div class="regd">
				<div class="mdui-textfield mdui-textfield-floating-label">
					<label class="mdui-textfield-label" maxlength="6" style="color: #fff;">账号(最多9位)</label>
					<input class="mdui-textfield-input" v-model="user">
				</div>
				<div class="mdui-textfield mdui-textfield-floating-label">
					<label class="mdui-textfield-label" style="color: #fff;">密码(最多6位)</label>
					<input class="mdui-textfield-input pas_input" type="password" maxlength="6" v-model="pas">
				</div>
				<p style="color: #fff;">设备绑定账号</p>
			</div>
			<button @click="regd()" class="mdui-shadow-5 mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-600">注册</button>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/av-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mdui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var APP_ID = 'tHeX246kA2boiotrw2Fcbpf4-gzGzoHsz';
		var APP_KEY = 'EXhnwYVcVFrKo8HsLw15UVNX';
		AV.init({
			appId: APP_ID,
			appKey: APP_KEY
		});
		var uuid = '';
		mui.plusReady(function() {
			var self = plus.webview.currentWebview();
			uuid = self.uuid;
		})
		var app = new Vue({
			el: '#app',
			data: {
				user: '',
				pas: '',
			},
			methods: {
				regd: function() {
					//					mui.back()
					var this_ = this;
					if(this.user == '') {
						mui.alert('账号不能为空！');
						return
					}
					if(this.pas == '') {
						mui.alert('密码不能为空！');
						return
					}

					var query = new AV.Query('_User');
					query.equalTo('username', this.user);
					query.find().then(function(res) {
						if(res.length > 0) {
							mui.alert('账号与他人重复!');
							return
						} else {
							console.log(this_.user)
							console.log(this_.pas)
							var user = new AV.User();
							user.setUsername(this_.user);
							user.setPassword(this_.pas);
							user.set('uuid', uuid);
							user.set('pas', this_.pas);
							user.signUp().then(function(loggedInUser) {
								mui.back()
							}, function(error) {
								console.log(error)
							});

						}
					}, function(error) {
						console.log(this.user)
					});

				},
			}
		})
		mui.init({
			keyEventBind: {
				backbutton: false //关闭back按键监听
			}

		})
	</script>

</html>